<div
  class="rounded-lg shadow p-4 flex flex-col min-h-[70vh]"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  [ngClass]="{
    'bg-blue-200 border border-blue-400': status === 'aberto',
    'bg-yellow-100 border border-yellow-400': status === 'em-andamento',
    'bg-green-100 border border-green-600': status === 'concluido',
    'bg-purple-100 border border-purple-400': status === 'done-done'
  }"
>

  <!-- TÍTULO -->
  <h2 class="text-lg font-bold mb-4 text-gray-800 flex justify-between items-center">
    {{ title }}
    <span class="text-sm text-gray-700 font-medium">({{ filteredTasks.length }})</span>
  </h2>

  <!-- FILTROS -->
  <div class="mb-4 space-y-3">

    <!-- Filtro por título -->
    <input
    type="text"
    [(ngModel)]="filterTitle"
    placeholder="Filtrar por título..."
    class="w-full p-2 rounded-md border border-gray-300 bg-gray-600
          text-white placeholder-gray-200"
  />


    <!-- Filtro por prioridade -->
    <select
    [(ngModel)]="filterPriority"
      class="w-full p-2 rounded-md border border-gray-300 bg-gray-600 text-white"
    >
      <option value="todas">Todas as prioridades</option>
      <option  value="baixa">Baixa</option>
      <option  value="media">Média</option>
      <option  value="alta">Alta</option>
    </select>

  </div>

  <!-- LISTA DE CARDS -->
  <div class="flex flex-col gap-3">

    @for (task of filteredTasks; track task.id) {

      <app-task-card
        [task]="task"
        (edit)="editTask.emit(task)"
        (delete)="deleteTask.emit(task)"
        (dragStarted)="startDrag.emit(task)"
      ></app-task-card>

    }

  </div>

</div>
