<ion-header>
  <ion-toolbar class="navbar-custom shadow flex justify-between items-center">

    <ion-title class="text-xl font-bold text-gray-50">
      Kanban Board
    </ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="openTaskForm()"
        class="bg-blue-500 hover:bg-blue-700 text-amber-50 rounded-lg px-2 py-1 flex items-center gap-2"
      >
        <ion-icon name="add" class="text-white"></ion-icon>
        Nova Tarefa
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="body-custom bg-gray-200">

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-4">

    @for (col of columns; track col.status) {

      <app-kanban-column
        [title]="col.title"
        [status]="col.status"
        [tasks]="getTasksByStatus(col.status)"
        (editTask)="openTaskForm($event)"
        (deleteTask)="onDeleteTask($event)"
        (dropped)="onDrop($event)"
        (startDrag)="onDragStart($event)"
      >
      </app-kanban-column>

    }

  </div>

</ion-content>
