.navbar-custom {
  --background: #1e293b;  /* slate-800 */
  --color: #fefce8;       /* amber-50 */
}

.body-custom {
  --background: #f1f4fa;  /* slate-800 */
  --color: #fefce8;       /* amber-50 */
}

